@page "/TodoList"
@inject ITodoService TodoService
@using ToDOList.Data

<h3 class="display-6 text-center">TodoList</h3>
<hr>

<table class="table table-striped table-bordered table-hover table-inverse table-responsive">
    <thead class="thead-inverse">
        <tr>
            <th>Item</th>
            <th>DeadLine</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            @foreach(var item in TodoService.todoList)
            {
                <tr>
                    <td>@item.Item</td>
                    <td>@item.DeadLine</td>
                    <td></td>
                </tr>
            }
        </tbody>
</table>

<EditForm Model="@todo">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="row my-4">
        <div class="col-4">
            <label for="Item">Item</label>
            <InputText id="Item" @bind-Value="todo.Item" class="form-control"></InputText>
        </div>
        <div class="col-4">
            <label for="DeadLine">DeadLine</label>
            <InputDate id="DeadLine" @bind-Value="todo.DeadLine" class="form-control"></InputDate>
        </div>
        <div class="col-4">
            <label for="Status">Is it done?</label>
            <input type="checkbox" name="" id="Status" @bind-value="todo.IsDone">
        </div>
    </div>
    <button type="submit" class="btn btn-primary" @onclick="(() => AddTodo(todo)">Submit</button>
</EditForm>

@code {
    Todo todo = new Todo();

    protected override async Task OnParametersSetAsync()
    {
        await TodoService.RetrieveAll();
    }

    async Task AddTodo(Todo todo)
    {
        await TodoService.Create(todo);
    }
}
